body{
  background: url('/assets/whitewall.png');
  font-family: 'quicksandbold', sans-serif;
}

.checkbox input[type="checkbox"] {
  margin-left: 0;
}

.clear {
  clear:both;
}

.navbar-inverse .navbar-brand{
  font-family: 'kaushan_scriptregular', sans-serif;
  color: #FAE01B;
  font-size: 30px;
}

.navbar .nav > li > a {
  color: #FFF;
}

.navbar.navbar-inverse{
  background: url('/assets/wild_oliva.png');
  border-radius: 0;
  border: 0px solid;
  box-shadow: 0px 10px 5px #FAFA1B;
}

.card-tallbox {
  font-family: 'quicksandregular', sans-serif;
  background-color: #ffffff;
  border: solid 1px #D9D9DE;
  border-radius: 6px;
  line-height: 1.5;
  margin-bottom: 10px;
  position: relative;
  font-size: 12px;
}

.card-tallbox h2, h6{
    font-family: 'quicksandbold', sans-serif;
}

.container-fluid{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image {
  max-width: 100%;
  height: auto;
}

span.glyphicon-thumbs-up{
    font-size: 15px;
    color: #F21FC1;
    font-weight: bold;
}