body{
  background: url('/assets/whitewall.png');
  font-family: 'quicksandbold', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
      height: 300px;
    }

#star {
      color: #E61259;
    }

.field_with_errors{
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

.checkbox input[type="checkbox"] {
  margin-left: 0;
}

.clear {
  clear:both;
}

.navbar-inverse .navbar-brand{
  font-family: 'kaushan_scriptregular', sans-serif;
  color: #FAE01B;
  font-size: 30px;
}

.navbar .nav > li > a {
  color: #FFF;
}

.navbar.navbar-inverse{
  background: url('/assets/wild_oliva.png');
  border-radius: 0;
  border: 0px solid;
  box-shadow: 0px 10px 5px #FAFA1B;
  margin-bottom: 0;
}

.card-tallbox {
  font-family: 'quicksandregular', sans-serif;
  background-color: #ffffff;
  border: solid 1px #D9D9DE;
  border-radius: 6px;
  line-height: 1.5;
  margin-bottom: 10px;
  position: relative;
  font-size: 12px;
}

.card-tallbox h1, h3, h2, h6{
  font-family: 'quicksandbold', sans-serif;
}

.container-fluid{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image {
  max-width: 100%;
  height: auto;
}

span.glyphicon-thumbs-up{
    font-size: 15px;
    color: #F21FC1;
    font-weight: bold;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

.img {
  height: 240px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 580px) and (max-width: 768px){
  .img {
    height: 240px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-caption {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 50px;
    font-weight:100;
    height: 35%;
    text-shadow: rgba(0,0,0,0.95) 2px 2px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}