<!-- <div class="container-fluid">
  <div class="col-xs-12">
    <div class="container-fluid"> -->
      <% @places.each do |place| %>
          <div class="card-tallbox col-xs-3">
            <img src="/dummypic.jpg" class="image">
            <h6><%= place.name %></h6>
            <i><p><%= place.address %></p></i>
            <p><%= place.description %></p>
          </div>
      <% end %>
<!--     </div>
  </div>
</div> -->
      
      